  /* Date and time colour */
  #time {
    color: black;
    background-color: rgb(63, 61, 61);
    z-index: -1;
  }

 /* Border styling */
span#time {
    border-radius: 10px 10px;
    border-style: inset;
    border-color: cyan;
    padding: 5px 5px;
}

span#time:hover {
    color: rgb(250, 248, 248);
    background: rgb(34, 33, 33);
}